        .container {
            width: 800px;
            margin: 0 auto;
        }
        .thumbnail {
            box-shadow: 10px 15px 20px #0066ff;
            background-color: palegoldenrod;
            text-align: center;
            padding: 10px;
            width: 225px;
            margin: 10px;
            float: left;
        }
        .thumbnail img {
            width: 100%;
        }
        .header {
            background-color: palegoldenrod;
            min-height: 50px;
            text-align: center;
        }
        .logo img {
            width: 200px;
        }
        .menu ul {
            padding: 0;
        }
        .menu ul li {
            display: inline-block;
            position: relative;
            z-index: 1; /* add this line */
        }
        .menu ul li:hover ul.submenu {
            display: block;
            z-index: 2; /* add this line */
        }
        .menu ul li a {
            padding: 10px 20px;
            text-decoration: none;
        }
        .content {
            background-color: black;
            min-height: 500px;
            overflow: auto;
        }
        .footer {
            background-color: palegoldenrod;
            min-height: 50px;
            padding: 20px;
            text-align: center;
        }
        ul.submenu {
            background-color: #eee;
            border: 1px solid #eee;
            text-align: left;
            position: absolute;
            top: 20px;
            left: 0;
            display: none;
        }
        ul.submenu li {
            display: block;
        }
        ul.submenu li a {
            display: block;
            padding: 5px 10px;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.4;
        }
        h1 {
            background: linear-gradient(90deg, #00ffff, #ff00c3);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }